@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-accent: var(--sidebar-accent);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
}

:root {
  --background: #0E0E0E;
  --foreground: #ededed;

  --sidebar: #1B1B1B;
  --sidebar-foreground: #ededed;
  --sidebar-accent: #27272a;
  /* zinc-800 */

  --card: #151515;
  --card-foreground: #ededed;

  --secondary: #232323;
  --secondary-foreground: #ededed;

  --muted: #151515;
  --muted-foreground: #6E6E6E;

  --border: #262626;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom Animation for smoother loading */
@keyframes pulse-slow {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}